/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 50px;
  padding-bottom: 20px;
}
.container.main {
    padding-top: 20px;
}
/* a styling we'll use for error lists */
ul.error-list {
    padding-left: 30px;
}
.user-info-box img {
    width: 100px;
}