<form class="form-inline js-new-rep-log-form" novalidate data-url="{{ path('rep_log_new') }}">
    <div class="form-group">
        <label class="sr-only control-label required" for="rep_log_item">
            What did you lift?
        </label>
        <select id="rep_log_item"
                name="item"
                required="required"
                class="form-control">
            <option value="" selected="selected">What did you lift?</option>
            <option value="cat">Cat</option>
            <option value="fat_cat">Big Fat Cat</option>
            <option value="laptop">My Laptop</option>
            <option value="coffee_cup">Coffee Cup</option>
        </select>
    </div>

    <div class="form-group">
        <label class="sr-only control-label required" for="rep_log_reps">
            How many times?
        </label>
        <input type="number" id="rep_log_reps"
               name="reps" required="required"
               placeholder="How many times?"
               class="form-control"/>
    </div>

    <button type="submit" class="btn btn-primary">I Lifted it!</button>
</form>
